---
title: Sınav Test
layout: sinav
---
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="sweet-alert.css">
<link rel="stylesheet" href="quiz.css">
    <div class="card-header">
      <h3 class="card-title">Sınav</h3>
    </div>
    <div class="containesr-fluid">
      <div class="just-padding">
        <div class="list-group list-group-root well">          
          {% for root in site.data.sinavkategori %} <!-- Ana Kategoriler -->
              <a href="#{{ root.id }}" class="w-100 list-group-item collapsed" data-toggle="collapse" aria-expanded="false">
                <i class="glyphicon glyphicon-chevron-right"></i>{{ root.adi }}
              </a>
              {% assign boyut = root.subs.size %}
              {% if boyut > 0 %}
                <div class="list-group collapse" id="{{ root.id }}" style="height: 0px;" aria-expanded="false">
                  {% for sub1 in root.subs %} <!-- 1. Alt Kategoriler  -->
                      {% assign altboyut = sub1.subs.size %}
                      {% if altboyut > 0 %}
                        <a href="#{{ sub1.id }}" class="list-group-item" data-toggle="collapse" aria-expanded="true">
                          <i class="glyphicon glyphicon-chevron-right"></i>{{ sub1.adi }}
                        </a>
                          {% assign boyut = sub1.subs.size %}
                          {% if boyut > 0 %} 
                            <div class="list-group collapse" id="{{ sub1.id }}">
                              {% for sub2 in sub1.subs %}
                                <a href="#" class="list-group-item" id="{{ sub2.id }}">{{ sub2.adi }}</a>

                              {% endfor %}                        
                            </div>
                          {% endif %}
                      {% elsif %}   
                        <div class="list-group collapse" id="{{ root.id }}">
                          <a href="#" id="{{ sub1.id }}" class="list-group-item">{{ sub1.adi }}</a>
                        </div>      
                      {% endif %}  


                  {% endfor %}
                </div>
              {% elsif boyut == 1 %} 
                <div class="list-group collapse" id="{{ root.id }}"></div>                   
                  <a href="#" class="list-group-item" id="{{ root.subs[0].id }}">{{ root.subs[0].adi }}</a>
                </div>  
              {% endif %}
          {% endfor %}  
        </div>
        </div>   
      <div>
        <div id="quiz" style ="height: 1200px; display: block"></div>
      </div>  
      
    </div>



<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="sweet-alert.js"></script>
<script src="quiz.js"></script>
<script>
  document.getElementById("progress-bar").style.display='none';
  $(function() {
    $('#quiz').quiz("test.json");
  });
</script>