---
layout: full-width
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
    <div class="col-lg-12">
        <div class="row justify-content-center">
            <div class="col-lg-6 offset-md+2">
                <div class="card">
                    {%- include recent_articles.html -%}
                </div>
            
            </div>

            <div class="col-lg-4">
                <div class="card w-100">
                    <div class="card-header text-center">2020 GYS/ÜDS'de sorulmuş Mülakat Sorusu ?</div>
                        <div class="card-body text-center" id="mulakatsorusu">
                            
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-primary btn-outline-primary btn-block" id="btnyenile" name="btnyenile"  onclick="yenisoru()">Yenile..</button>
                        </div>
                </div>
                <div class="w-100">
                    <div class="card w-100" id="hukuksozlugu">                       
                        
                                 
                        
                        
                    </div>                    
                </div>
            </div>
        </div>    
    </div>  

    <script type="text/javascript">

        $.ajax({
            url: "../dist/sozluk.json",
            dataType: 'json',
            async: false,
            success: function(data) {
                var a = Math.floor(Math.random() * data.length);
                $("#hukuksozlugu").html('<div class="card-header text-center">Hukuk Sözlüğü</div>'  +
                '<div class="card-body center">' +
                '<h2><p class="text-center font-weight-bold">' + data[a].kelime + ' ne demektir?</p></h2>' +
                '<br />' +
                '<br />' +
                '<label class="text-justify">' + data[a].anlami +'</label>' +
                '<br />' +
                '</div>'                 
                );
                
            }
        });

        $.ajax({
            url: "../dist/mulakat.json",
            dataType: 'json',
            async: false,
            success: function(data) {
                var a = Math.floor(Math.random() * data.length);
                $("#mulakatsorusu").html('<h2><p class="text-center font-weight-bold">' + data[a].soru + ' ne demektir?</p></h2>' +
                '<br />' +
                '<br />' +
                '<label class="text-justify">' + data[a].cevap +'</label>' +
                '<br />' +
                '</div>'                 
                );
                
            }
        });

        function yenisoru() {
                $.ajax({
                url: "../dist/mulakat.json",
                dataType: 'json',
                async: false,
                    success: function(data) {
                        var a = Math.floor(Math.random() * data.length);
                        $("#mulakatsorusu").html('<h2><p class="text-center font-weight-bold">' + data[a].soru + '</p></h2>' +
                        '<br />' +
                        '<br />' +
                        '<label class="text-justify">' + data[a].cevap +'</label>' +
                        '<br />' +
                        '</div>'                 
                        );
                        
                    }
                });
        }

        
    
    </script>    
    
   