---
layout: default 
---
<div class="col-lg-12">
        <div class="row justify-content-center">
                <div class="card">
                        <div class="col-md-8 offset-md-2 offset-md-right">
                                <h1 id="kelime" name="kelime"> {{ page.kelime }} - - {{ page.anlami }}    </h1>                
                        </div>
                </div>
        </div>       
</div>

        
        
<script>
        let queryString = window.location.search;
        let urlParams = new URLSearchParams(queryString);
        queryString = urlParams.get('kelime');
        let kelime = urlParams.get('kelime');
        document.title = kelime + " ne demek ? - www.Adliyeci.com.tr";

        $.getJSON("../dist/sozluk.json", function(data) {
                $.each(data, function(k, obj) {
                if(obj['kelime'] == kelime) {
                        $('#kelime').html('<br' + kelime + " : " + obj['anlami' + '<br>Anlamına gelmektedir.']);     
                }
                });
        }); 





</script>